(
    kmeans: (
        iterations: 20,
        k: 4,
        runs: 1,
        seed: 0,
    ),
    threshold: (
        thresh: 0.0,
        max: 255.0,
        type: 9,
    ),
    contours: (
        mode: 0,
        method: 2,
        min_area: 500.0,
    ),
)